# 서버 설정
APP_NAME=

# DB 설정
DB_URL=
DB_USERNAME=
DB_PASSWORD=
DB_DRIVER=
TEST_DB_URL=
TEST_DB_DRIVER=

# JPA 설정
JPA_DDL_AUTO=
JPA_SHOW_SQL=
JPA_FORMAT_SQL=
LOGGING_LEVEL_CATHORI=
TEST_JPA_DDL_AUTO=

# API 키
GEMINI_API_KEY=

# SMTP
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=
MAIL_STARTTLS_ENABLE=

# JWT
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRY=
JWT_REFRESH_TOKEN_EXPIRY=

# ALRAM
FIREBASE_CREDENTIAL_PATH=
ALERT_DISPATCH_CRON=